<?xml version="1.0"?>
<settings>

  <pluginGroups>
    <pluginGroup>org.mule.tools</pluginGroup>
  </pluginGroups>

  <servers>
    <server>
      <id>Repository</id>
      <username>${env.ANYPOINT_USERNAME}</username>
      <password>${env.ANYPOINT_PASSWORD}</password>
    </server>
  </servers>

</settings>